h1{

}
.named{
    color: blue;
}
.rgb{
    color: rgb(75%,0%,0%);
}
.one{
     color: rgb(0%,0%,0%);
}
p.two{
    color: rgb(20%,20%,20%);
}
p.three{
    color: rgb(40%,40%,40%);

}
p.four{
    color: rgb(60%,60%,60%);
}
p.five{
    color: rgb(80%,80%,80%);
}
p.six{
    color: rgb(0,0,0);
}
.em{
   font-size:2em;
}
.px{
font-size: 14px;
}
.ex{
    font-size: 6ex;
}