div[class="blends"]{
    background: url('media/images4.jpg')#f00;
    width: 270px;
    height: 183px;
    background-repeat: no-repeat;
    float: left;
}

div[class="screen"]{
    background: url('media/images4.jpg')#f00;
    width: 270px;
    height: 183px;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    float: right;
    margin-right: 40em;
}

div[class="multiply"]{
    background: url('media/images4.jpg')#f00;
    width: 270px;
    height: 183px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    float: left;

}

div[class="overlay"]{
    background: url('media/images4.jpg')#f00;
    width: 270px;
    height: 183px;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    float: right;
    margin-right: 40em;
}
div[class="col-2"]{
    margin-top: 1em;
}

div[class="filter-image"]{
     background: url('media/images4.jpg')#f00;
    width: 270px;
    height: 183px;
    background-repeat: no-repeat;
    float: left;

}
div[class="filter-image2"]{
     background: url('media/images4.jpg');
    width: 270px;
    height: 183px;
    background-repeat: no-repeat;
    float: right;
    margin-right: 40em;
    -webkit-filter:blur(10px);

}
div[class="masking"]{
     background: url('media/images4.jpg');
    width: 270px;
    height: 199px;
    background-repeat: no-repeat;
    float: left;
    margin-right: 40em;
    -webkit-clip-path: circle(100px at 50% 50%);

}