table{
    border:1px solid;
    width: 50%;
    border-collapse: collapse;
}
tr{
    text-align: center;
}
tbody tr:nth-of-type(even){
    background: #DDD;
}
thead{
   background: #DDD;
}
tbody tr:nth-last-child(-n+2){
    font-style: italic;
    color: blue;
}